.site-main{
    animation: intro 0.8s ease-in-out;
}

.header-mobile{
    mix-blend-mode: difference;
}



.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
    color: #ffffff!important;}

    .cta-brackets {
        color: #fff;}

        span.footer{
            color: #fbfbfb;
        }
    
        .footer-mobile{
            mix-blend-mode: difference;
        }

        .liens-mobile{
            display: none;
        }

.pichon-video{
   display: none;
}
@keyframes intro{
from {
    opacity: 0;

}

to {
    opacity: 1;
}
  }


.plyr__video-wrapper {
    background: transparent!important;
    background-color: transparent!important;
}

.nayla-play-button, .plyr button {
    font-family: "Pitch Sans", Sans-serif!important;
    font-size: 14px!important;
    line-height: 12px!important;
    letter-spacing: 0.7px!important;
    text-transform: uppercase!important;
}

.nayla-play-button.play-text {
    text-decoration: none!important;
}

.elementor-9636 .elementor-element.elementor-element-260b586 {
    margin-top: 20%!important;
    margin-bottom: 20%!important;
}

.cta-underline-mobile{
    display: none;
    margin-bottom: -3px;
}

@media (max-width: 767px){

    .elementor-9636 .elementor-element.elementor-element-2bc4bd2 {
        margin-top: 30%!important;
        margin-bottom: 20%!important;
    }

    .liens-mobile{
        display: block;
        font-size: 8px !important;
        margin-top: 10px!important;
        font-family: 'Pitch Sans';
        letter-spacing: 0.3px;
        text-align: center;
    }

    .elementor-9636 .elementor-element.elementor-element-2af943a5 {
        display: none;
    }

    .cta-brackets{
        display: none;
    }

    span.footer{
        color: #fbfbfb;
    }

    .footer-mobile{
        mix-blend-mode: difference;
    }
    
    .socialdesktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }


    #desktop-menu {
        position: fixed;
        z-index: 9;
        margin-top: 10%;}

    .cta-brackets{
        display: none;
    }

   

    .header-mobile{
        mix-blend-mode: difference;
    }

    .cta-underline-mobile{
        display: block;
        margin-bottom: -2px;
    }
}

/* MOBILE */

@media only screen and (max-width: 450px){

    .elementor-9636 .elementor-element.elementor-element-f652af9 .text-wrapper > * {

        font-size: 55px!important;
        text-align: center;
   
    }

    .elementor-9636 .elementor-element.elementor-element-a41ca9c .text-wrapper > * {
        text-align: center;}


    .section-intro{
        height: 100vh;
    }

    .container-intro{
        height: 100vh;
    }

    .elementor-9636 .elementor-element.elementor-element-35b23151.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: end!important;
    }

    .elementor-9636 .elementor-element.elementor-element-6a60653.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: start!important;}

.elementor-9636 .elementor-element.elementor-element-f61a4c8 > .elementor-widget-container {
        padding: 31% 0% 20% 0%!important;
    }

.details-instro{
    display: flex;
    flex-direction: column;
}

.details{
    margin-right: 40px;
    margin-bottom: 20px;
}

.elementor-9636 .elementor-element.elementor-element-cc7977e{
    display : none;
}

.elementor-9636 .elementor-element.elementor-element-3ec6583{
    display : none;
} 


}